body {
  overflow-x: hidden;
  
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('../img/slide3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #6D6F71;
  font-weight: 700;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #6D6F71;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-custom {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}
.navbar-brand {
  margin-top: -30px;
}
.navbar-brand img{  
  height: 80px;
}
@media (max-width: 768px) {
  .navbar-brand {
  margin-top: -13px;
  }
  .navbar-brand img{  
  height: 50px;
}
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #47AFEF;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #47AFEF;
  border-color: #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #6D6F71;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #47AFEF;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #6D6F71;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #47AFEF;
  background-color: #6D6F71;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #47AFEF;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;  
  }
  .navbar-brand img{  
  height: 70px;
  margin-top: 5px;
}

  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 10px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 10px;
    padding-bottom: 100px;    
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }*/
}

/*Аccordion Start*/
@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 75%;
  line-height: 1.5;
  padding: 1.5rem;
}

h1, h2 {
  margin-bottom: 1.5rem;
  color: #fff;
  text-shadow: #6D6F71 1px 1px 0, #6D6F71 -1px -1px 0, 
                 #6D6F71 -1px 1px 0, #6D6F71 1px -1px 0;
}

/*Components*/
.accordion {
  margin: 0;
  padding: 0;
  list-style: none; 
}

.accordion_item {
  border-bottom: 1px solid #5a95fd;
}
.accordion_item:last-of-type {
  border-bottom: none;
}

/*label open/close */
.accordion_trigger {
  display: block;
  background-color: #47AFEF;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 1.5rem;
}
.accordion_trigger:hover {
  
  background-color: #707274;
  color: #fff;
  
}
/* radio/checkbox hidden always */
.accordion_toggle {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*close content*/
.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  background-color: #fff;
  color: #707274;   
}
/*checked to radio/checkbox show content*/
.accordion_toggle:checked + .accordion_target {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: auto;
  clip: auto;
  padding: 1.5rem;
 /* wait animation */
 -webkit-animation:fadeIn ease-in 0.7s; 
 -moz-animation:fadeIn ease-in 0.7s;
 animation:fadeIn ease-in 0.7s;   
}
/* animation when shows block */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}

/*Accordeon Finish*/
